{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div class="container" style="padding-top: 50px;">
        <div class="square"></div>
        <div class="buttons">
            <a href="{{ path('app_register') }}" class="btn btn-info"
               data-bs-toggle="popover"
               data-bs-placement="top"
               data-bs-title='<i class="bi bi-chat-square-text-fill"></i><br/> Bienvenue'
               data-bs-content="Saisissez vos identifiants d'inscription">
                <i class="bi bi-house-door-fill"></i> Inscription</a>


            <a href="{{ path('app_login') }}" class="btn btn-dark"
               data-bs-toggle="popover"
               data-bs-placement="bottom"
               data-bs-content="Saisissez vos identifiants de connexion">
                <i class="bi bi-box-arrow-in-right"></i>



                Connexion</a>





        </div>

    </div>
</div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => {
                const popover = new bootstrap.Popover(popoverTriggerEl, {
                    html: true,
                    trigger: 'hover focus'
                });
                popoverTriggerEl.addEventListener('mouseout', () => {
                    popover.hide();
                });
                return popover;
            });
        });
    </script>

{% endblock %}
