<form method="post" action="{{ path('app_eleve_lecon_delete', {'id': lecon.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lecon.id) }}">
    <button class="btn">Delete</button>
</form>
