{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ include('moniteur/categorie/_form.html.twig') }}

    <a href="{{ path('app_moniteur_espace_moniteur') }}">back to list</a>
{% endblock %}
